# ------------------------
# DB connection env variables

# DB type (mysql, postgre, ...)
DB_TYPE=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

# ------------------------

# Listening API port
API_PORT= 

# Allowed URL's for CORS. Accepts multiple URLs (for both admin and public fronts).Separate them with a comma.
CORS_ORIGINS= #e.g http://localhost:42,http://example-site.com

# Synchronize setting from 'TypeOrmModule.forRootAsync' in 'app.module.ts'
DB_SYNCHRONIZE=

# Secret JWT string
JWT_SECRET=